html,
body {
  padding: 0 100px;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #eaeaea;
}
tr {
  border-top: 1px solid #eaeaea;
}
th {
  text-align: left;
}
th,
td {
  padding: 12px 24px;
}

.spectrum-Site-sideBar {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--spectrum-global-color-gray-75);
}

.spectrum-Site-sideBarHeader {
  flex-grow:0;
  flex-shrink:0;
  display:flex;
  flex-direction:row;
  align-items:center;
  padding: 28px 24px;
  text-decoration:none;
}

.spectrum-Site-sideBarHeader:focus{
  outline:none;
}

.spectrum-Site-sideBarHeader:focus h2{
  text-decoration:underline;
}
